/*Header*/
.header{
    position: sticky;
    top: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 15%;
    margin-left: 15%;
    z-index: 1000;
}
li{
    display: inline-block;
    list-style: none;
}
.header__titulo{
    font-size: 2.5em;
    margin-left: 1em;
    font-family: 'Montserrat', sans-serif;
    padding-top: 0.5em;
}
.nav{
    font-family: 'Oswald', sans-serif;
    padding-bottom: 1em;
    padding-left: 1em;
    font-size: 1.5em;
}
.navbar-toggler-icon{
    background-image: url(../Imagenes/menuu.png);
}



/*Footer*/
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(97, 53, 138);
}
.footer__contenido{ 
    margin: 1em;
}
.footer__contenido .Titulos{ 
    font-size: 24px;
}
.footer__contenido .Textos{ 
    font-size: 16px;
}


/*Textos*/
@mixin textos_colores(){
    color: rgb(204, 204, 204);
}
.Textos{
    font-family: 'Oswald', sans-serif;
    @include textos_colores()
}
.Titulos{
    font-family: 'Montserrat', sans-serif;
    @include textos_colores()
}
.Div__titulo{
    background-color: rgb(98, 30, 161);
    padding-left: 1em;
    width: 100%;
    font-size: 12px;
}
@media (min-width:768px){
    .Div__titulo{
        font-size: 16px;
    }
}



/*Index*/
.ultimoslanz{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5em;
    background-color: rgb(97, 53, 138);
    div{
        display:inline-block;
    }
    h2{
        padding: 0.5em;
    }
    h3{
        padding: 6px;
        font-size: 22px;
    }
}
.ultimoslanz__bolsodemaqui{
    width: 22em;
    height: 22em;
    padding: 1em;
    } 
.ultimoslanz__titulo{
    font-size: 25px;
}
.productos{
    margin: 10%;
    margin-top: 5em;
    background-color: rgb(97, 53, 138);
    h2{
        font-size: 25px;
        padding-top: 5px;
        margin-left: 20px;
    }
    h3{
        font-size: 20px;
    }
} 
.productos__titulos{
    font-size: 20px;
}
.productos__img{
    display: flex;
    justify-content: space-around;
}
.productos__img--paleta{
    display: inline-block;
}
.productos__img--pack{
    display: inline-block;
}
.paletalim{
    width: 7em;
    height: 7em;
    display: block;
    margin: auto;
}
.packdeesmal{
    width: 7em;
    height: 7em;
    display: block;
    margin: auto;
}
@media (min-width: 576px){
    .ultimoslanz__titulo{
        font-size: 26px;
        font-weight: 700;
    }
    .productos__titulos{
        font-size: 26px;
        font-weight: 700;
    }
}
@media (min-width:768px){
    .paletalim{
        width: 10em;
        height: 10em;

    }
    .packdeesmal{
        width: 10em;
        height: 10em;

    }
    .ultimoslanz__titulo{
        font-size: 28px;
    }
    .productos__titulos{
        font-size: 28px;
    }
}
@media (min-width: 992px){
    .paletalim{
        width: 15em;
        height: 15em;
    }
    .packdeesmal{
        width: 15em;
        height: 15em;
    }
}
/*Producos*/
.img{
    display: block;
    margin: auto;
    margin-top: 1em;
    height: 8.5em;
    width: 8.5em;
}

main div h2{
    font-size: 3em;
}

h3{
    text-align: center;
}
.produ__cajas__producto{
    display: inline-block;
    background-color: rgb(141, 79, 199);
    height: 13em;
    width: 13em;
    margin: 3em;
}
.textos--productos{
    font-size: 18px;
    font-weight: 750;
}


/*Ofertas*/
.img__ofertas{
    display: block;
    margin: auto;
    margin-top: 1em;
    height: 8.5em;
    width: 8.5em;
}
.cajas{
    background-color: rgb(81, 38, 121);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}
.ofertas__cajas__producto{
    display: inline;
    background-color: rgb(141, 79, 199);
    height: 13em;
    width: 13em;
    margin: 2em;
}
.ofertas__cajas__producto--ofertas{
    display: inline-block;
    align-items: baseline;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(141, 79, 199);
    height: auto;
    width: auto;
    margin: 3em;
}
.ofertas__cajas__producto--ofertas--img{
    display: inline-block;
    align-items: baseline;
    justify-content: center;
    margin: auto;
    margin: 2em;
}
.ofertas__cajas__producto--ofertas .Titulos{
    margin-top: 10px;
}
.textos--ofertas{
    font-size: 18px;
    font-weight: 750;
}
@media (min-width: 992px){
    .ofertas__cajas__producto{
        display: inline-block;
        background-color: rgb(141, 79, 199);
        height: 12.5em;
        width: 12.5em;
        margin: 3em;
    }
    .img__ofertas{
        display: block;
        margin: auto;
        margin-top: 1em;
        height: 7.5em;
        width: 7.5em;
    }
    .textos--ofertas{
        font-size: 24px;
    }
}




/*contactos*/
.cajas__contactos--ceo{
    display: inline-block;
    background-color: rgb(141, 79, 199);
    height: 25em;
    width: 40em;
    margin: 3em;
}

.img--ceo{
    /*height: 20em;
    width: 14em;
    */
    height: 10em;
    width: 7em;
    margin-top: 40px;
    margin-left: 20px;
    float: left;
}
.cajas__contactos--parafo{
    margin: 0 auto;
    margin-left: auto;
    font-size: 22px;
}
.cajas__contactos--comercial{
    display: inline-block;
    background-color: rgb(141, 79, 199);
    height: 19em;
    width: 40em;
    margin: 3em;
}
.img--com{
    /*
    height: 14em;
    width: 14em;
    */
    height: 8em;
    width: 8em;
    margin-top: 40px;
    margin-left: 20px;
    float: left;
}
.cajas__contactos--marketing{
    display: inline-block;
    background-color: rgb(141, 79, 199);
    height: 19em;
    width: 40em;
    margin: 3em;
}
.img--mar{
    /*
    height: 14em;
    width: 14em;
    */
    height: 7em;
    width: 7em;
    margin-top: 40px;
    margin-left: 20px;
    float: left;
}
@media(min-width: 576px){
    .cajas__contactos--parafo{
        font-size: 28px;
    }
    .img--ceo{
        height: 20em;
        width: 14em;
    }
    .img--com{
        height: 14em;
        width: 14em;
    }
    .img--mar{
        height: 14em;
        width: 14em;
    }
}
@media(min-width: 768px){
    .cajas__contactos--parafo{
        font-size: 34px;
    }
}


/*nosotros*/
p{
    margin: 0 auto;
    font-size: 24px;
    padding-left: 1em;
}
.img--teamwork{
    width: 96px;
    height: 96px;
    float: left;
    margin-right: 1em;
}
.img--conejo{
    width: 96px;
    height: 96px;
    float: right;
}
.div__textos{
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    background-color: rgb(81, 38, 121);
}
.div__textos--mapa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(81, 38, 121);
}
.body{
    background-image: url(../Imagenes/fondo.jpeg);
}
@media(min-width: 576px){
    p{
        margin-left: 2em;
        margin-right: 2em;
    }
}
@media(min-width: 768px){
    p{
        margin-left: 4em;
        margin-right: 4em;
        font-size: 28px;
    }
}
@media(min-width: 992px){
    p{
        font-size: 30px;
    }
    .img--teamwork{
        width: 126px;
        height: 126px;
    }
    .img--conejo{
        width: 126px;
        height: 126px;
    }
}
@media(min-width: 1200px){
    p{
        font-size: 32px;
    }
}